* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}
a {
  color: unset;
  text-decoration: none;
}
input {
  outline: none;
  font-size: 18px;
  width: 100%;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* Navbar component style */
.navbar {
  width: 100%;
  padding: 20px 10px;
  background-color: #f7cd46;
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-radius: 5px;
}

.navbar img {
  width: 50px;
  object-fit: contain;
}
.navbar h2 {
  width: fit-content;
  padding: 4px;
}
.navbar button {
  background-color: transparent;
  color: #080707;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: cursive;
  font-size: 20px;
}
.navbar button:hover {
  background-color: #bebebe;
  color: rgb(24, 23, 25);
}

/* AlbumsList component style */
.Album-Collection {
  width: 70%;
  margin: auto;
  padding-top: 73px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* List component style */
.list {
  margin-top: 50px;
  width: 350px;
  height: 200px;
  background-color: white;
  margin-bottom: 5px;
  color: black;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}
.list h3 {
  text-align: center;
  text-transform: capitalize;
}
.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.update-btn {
  background-color: #172d13;
  color: rgb(241, 225, 225);
  border: 0px;
  padding: 10px 20px;
  cursor: pointer;
}
.update-btn:hover {
  background-color: bisque;
  color: black;
}
.delete-btn {
  cursor: pointer;
  border: 0px;
  padding: 10px 20px;
  background-color: #f92c85;
}
.delete-btn:hover {
  color: red;
  background-color: bisque;
}

/* UpdateAlbum component style */
.update-album {
  width: 350px;
  margin: auto;
  padding-top: 73px;
  color: white;
}
.form-container {
  background-color: #478ac9;
  padding: 10px;
  margin-top: 50px;
}
.inp-container {
  margin: 10px;
}
.form-container button {
  background-color: green;
  padding: 10px 20px;
  color: white;
}

/* addAlbum container style */
.addalbum-container {
  color: white;
  padding-top: 73px;
  width: 350px;
  margin: auto;
}
.addalbum-form {
  padding: 10px;
  background-color: #478ac9;
  margin-top: 50px;
}
.addalbum-form button {
  background-color: green;
  padding: 10px 20px;
  color: white;
}
